<!-- <div class="movie-container" [ngClass]="movie.rating > 8 ? 'good-movie' : 'bad-movie'">
    <h1>{{movie.name}}</h1>
    <p>Main Character: {{movie.mainCharacter}}</p>
    <p>Rating: {{movie.rating}}</p>
    <p>Release: {{movie.release | date}}</p>
    <button (click)="changeMovie()">Change Movie</button>
</div> -->
<mat-card [ngStyle]="{'border-width':borderWidth+'px'}"
    *ngIf="!!movie">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{movie.name}}</mat-card-title>
        <mat-card-subtitle>Movie</mat-card-subtitle>
    </mat-card-header>
    <img class="main-img" mat-card-image src="{{movie.img}}" alt="movie img">
    <mat-card-content>
        <p><label>Main Character:</label> {{movie.mainCharacter}}</p>
        <p><label>Rating:</label><span [ngStyle]="{color: movie.rating > 8 ? 'green' : 'red'}">{{movie.rating}}</span>
        </p>
        <p><label>Release:</label> <span>{{movie.release | date}} Fake</span></p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button style="margin-left: auto;" mat-raised-button color="warn" (click)="deleteMovie()">Delete Movie</button>
    </mat-card-actions>
</mat-card>